code {
  display: block;
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
}
code.black {
  color: black;
}
code.white {
  color: white;
}
code {
  span.bold {
    font-weight: bold;
  }
}
